.category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 20px;
}

.category-item {
    background-color:#093030;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    padding: 10px;
    border: none; 
    cursor: pointer;
    text-decoration: none;
}

.category-item:hover{
    background-color: #228d8d;
    color: black;
    font-weight: 700;
}

.new-offer-bubble {
    position: fixed;
    text-decoration: none;
    width: 300px;
    height: 55px;
    bottom: 15px;
    right: 15px;
    background: #093030;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.new-offer-bubble:hover {
    text-decoration: none;
    color: black;
    background: #228d8d;
}