.category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 20px;
}

.category-item {
    background-color:#093030;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    padding: 10px;
    border: none; 
    cursor: pointer;
    text-decoration: none;
}

.category-item:hover{
    background-color: #228d8d;
    color: black;
    font-weight: 700;
}


