div.sign-in {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #a6d3d3;
    padding: 20px;
    border-radius: 30px;
    font-weight: 700;
    box-shadow: 10px 10px 30px #001d17;
}

.button_sign-in{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

.sign-in button, .sign-in a{
    background-color:#093030;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    padding: 10px;
    border: none; 
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.sign-in button:hover, .sign-in a:hover{
    background-color: #228d8d;
    color: black;
    font-weight: 700;
}

input {
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
}

.error{
    color:red;
    font-size: 14px;
}
