.sign-in-container-color-light {
    color: black;
}

.sign-in-container-color-dark {
    color: wheat;
}

div.sign-in {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    font-weight: 700;
    box-shadow: 10px 10px 30px var(--c-black-box-shadow);
}

div.sign-in-color-light {
    background-color: var(--c-menu-back);
}

div.sign-in-color-dark {
    background-color: var(--c-menu-back-dark);
}

.buttons-sign-in{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

.sign-in button, .sign-in a{
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
    border: none; 
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.buttons-sign-in-color-light button, .buttons-sign-in-color-light a {
    background-color:var(--c-button-back);
    color: white;
}

.buttons-sign-in-color-dark button, .buttons-sign-in-color-dark a {
    background-color:var(--c-dark-theme-1);
    color: wheat
}

.buttons-sign-in-color-light button:hover, .buttons-sign-in-color-light a:hover {
    background-color: var(--c-button-hover);
    color: black;
    font-weight: 700;
}

.buttons-sign-in-color-dark button:hover, .buttons-sign-in-color-dark a:hover {
    background-color: var(--c-dark-theme-2);
    color: wheat;
    font-weight: 700;
}

input {
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
}

.error{
    color:rgb(170, 0, 0);
    font-size: 14px;
}

h1 {
    text-align: center;
}