.divBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  min-height: 100vh;
}

#fullPage.light{
  background-image: linear-gradient(#e4f4f4, var(--c-menu-back));
}

#fullPage.dark {
  background-image: linear-gradient(
    var(--c-dark-theme-body1),
    var(--c-dark-theme-body2),
    var(--c-dark-theme-body2)
  );
}

main{
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

