#divBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-image: linear-gradient(#e4f4f4, var(--c-menu-back));
}

main{
    min-height: 100vh;
}