.new-offer-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 10%;
    background-color: #a6d3d3;
    padding: 20px;
    border-radius: 30px;
    font-weight: 700;
    box-shadow: 10px 10px 30px #001d17;
}

textarea {
    resize: none;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
}