footer {
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

footer.dark {
  background-image: linear-gradient(
    var(--c-dark-theme-1),
    var(--c-dark-theme-2)
  );
  color: white;
}

footer.light {
  background-image: linear-gradient(#228d8d, #19cccc);
}
.dark a {
  color: aquamarine;
}
