.dark{
    background-image: linear-gradient(var(--c-dark-theme-1),var(--c-dark-theme-2));
    color: white;
}
.dark a{
    color: aquamarine;
}

footer {
    background-image: linear-gradient(#228d8d, #19cccc);
    padding: 20px 0;
    text-align: center;
    width: 100%;
}