footer {
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

footer.dark {
  background-image: linear-gradient(
    var(--c-dark-theme-1),
    var(--c-dark-theme-2)
  );
  color: wheat;
}

footer.light {
  background-image: linear-gradient(#228d8d, #19cccc);
  color: black;
}

.git-buttons {
  display: flex;
  justify-content: center;
}

.git-link {
  margin: 5px;
  text-decoration: none;
}

.git-link:hover {
  text-decoration: underline;
}

.git-link:visited {
  color: inherit;
}