.register-form {
    display: flex;
    flex-direction: column;
    background-color: var(--c-menu-back);
    padding: 20px;
    border-radius: 30px;
    font-weight: 700;
    box-shadow: 10px 10px 30px var(--c-black-box-shadow);
}

.button_register{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

.button_register button, .button_register a{
    background-color:var(--c-button-back);
    border-radius: 20px;
    font-size: 16px;
    color: white;
    padding: 10px;
    border: none; 
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.button_register button:hover, .button_register a:hover{
    background-color: var(--c-button-hover);
    color: black;
    font-weight: 700;
}

.error{
    color: red;
    font-size: 14px;
}

