header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-image: linear-gradient(#19cccc, #228d8d);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

nav {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 20%;
    height: 20%;
}

@media only screen and (max-width: 750px) {
    img {
        width: 40%;
        height: 40%;
    }
}