header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 15%;
    background-image: linear-gradient(#19cccc, #228d8d);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

nav {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}